$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font: (
  primary: 'Roboto, sans-serif', 
  secondary: 'serif',
);

$titleSize: (
  "large": clamp(30px, 5vw, 50px),
  "medium": 3rem,
  "small": 2rem,
);

$paragraghSize: (

  "large": 1.2rem,
  "medium": 1rem,
  "small": .8rem,


)
