h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
  //@include title( $fontsize: map-get($titleSize,'large'));
}

h2 {
  //@include title( $fontsize: map-get($titleSize,'large'));
}

h3 {
  //@include title( $fontsize: map-get($titleSize,'small'));
}
