
// I'm now recommending this technique:

@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-screen) {
			@each $property in $properties {
				#{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
			}
		}

		@media screen and (min-width: $max-screen) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
	$a: ($max-value - $min-value) / ($max-screen - $min-screen);
	$b: $min-value - $a * $min-screen; 

	$sign: "+";
	@if ($b < 0) {
		$sign: "-";
		$b: abs($b);
	}
	@return calc(#{$a*100}vw #{$sign} #{$b});
}

/* Single property */
html {
	@include interpolate(font-size, 320px, 800px, 14px, 14px);
	@include interpolate(font-size, 800px, 1366px, 10px, 44px);
}

/* Multiple properties with same values */
h1,h2,h3,h4,h5 {
	@include interpolate((padding-top, padding-bottom), 20rem, 70rem, 0rem, .5rem);
}




//UI KIT Styles

/*
  titte mixin
  set by default to use large title
  override this in the selector by using map-get($key,'newfontsize')
*/

@mixin title(
  $color: map-get($color, primary), 
  $font: map-get($font, primary),
  $fontsize: map-get($fontsize, 'large'),
  ) {
    font-family: $font;
		color: $color;
		position: relative;
    font-size: $fontsize;
}

/*
  container sets the padding and content direction
  paddng can be set for different screensizes
*/

@mixin container(
  $usePadding: true,
  $direction: column 
  ) {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  max-width: $sm;
  @if $usePadding == true {
    padding: 0 7rem;
  }

  @media screen and (min-width:$md) {
    max-width: $xxl;
    @if $usePadding == true {
      padding: 0 8rem;
    }
  }

  @media screen and (min-width:$lg) {
    display: flex;
    flex-direction: $direction;
  }

  @media screen and (min-width:$xlg) {
		@if $usePadding == true {
			padding: 0 8rem;
		}
  }
}

/* 
 * enter px value wrapped in rem() to get px output
 *
*/

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}
